<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CLHEOE shop</title>
    <!-- 웹폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- FontAwesome(폰트 아이콘) -->
    <script src="https://kit.fontawesome.com/42bc809b80.js" crossorigin="anonymous"></script>
    <!-- 구글 머트리얼 아이콘 -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <!-- bx slider CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bx slider JS -->
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
<header id="main_header">
    <div class="container">
        <h1>
            <a href="{% url 'main:base' %}">
                <img src="{% static 'images/logo22.png' %}" alt="CLHEOE">
            </a>
        </h1>
        <!-- 검색창 -->
        <form id="search_box">
            <input
                    type="text"
                    placeholder="Search"
            >
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!-- 유틸리티 메뉴 -->
        <nav id="util_menu">
            <a href="#" id="add_feed"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
        </nav>
    </div><!-- end container-->
</header>

<!-- 메인 GNB -->
<nav id="main_gnb">
    <div class="container">
        <button id="category_btn">
            <i class="fas fa-bars"></i>
            <span>Category</span>
        </button>

        <ul>
            <li><a href="#">W-korea</a></li>
            <li><a href="#">Perfume</a></li>
            <li><a href="#">2022 S/S</a></li>
            <li><a href="#">Best 10!</a></li>
            <li><a href="#">Coupon</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">event</a></li>
            <li><a href="#">Trend</a></li>
        </ul>
    </div><!-- end container -->
</nav>

<!-- 카테고리 메뉴 목록 -->
<nav id="category">
    <div class="container">
        <dl>
            <dt>Perfume</dt>
            <dd>Best</dd>
            <dd>Campaign</dd>
            <dd>Event</dd>
        </dl>
        <dl>
            <dt>Body</dt>
            <dd>Best</dd>
            <dd>Campaign</dd>
            <dd>Event</dd>
        </dl>
        <dl>
            <dt>Basic</dt>
            <dd>Best</dd>
            <dd>Campaign</dd>
            <dd>Event</dd>
        </dl>
    </div><!-- end container -->
</nav>

<div style="position:relative;">
    <div style="display:flex; text-align:center;justify-content: center;">
        <div style="display:flex; flex-direction: row; width: 1200px;">
            <div style="display:flex; flex-direction: column; width: 250px; height: 1000px; background-color: #fffbfb;">
                <p style="margin:30px 0px;"><a href="{% url 'main:terms' %}"><b>공지사항</b></a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:terms' %}">이용약관</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:membership' %}">멤버십 이용약관</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:privacy' %}">개인정보처리방침</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:executives' %}">임직원서비스</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:service' %}">고객센터</a></p>
            </div>
            <div style="display:flex; justify-content: center; width: 750px; background-color:#f2f2f1;">
                CLHEOE MEMBER 이용 약관<br>
CLHEOE MEMBER 이용약관(이하 “약관”)은 CLHEOE Cneene & Haurtiz GBC AB(이하 “회사”)가 제공하는 CLHEOE MEMBER 서비스(이하 “서비스”)의 이용과 관련하여 CLHEOE MEMBER 회원(이하 “회원”)과 회사 사이에 필요한 사항을 규정하며 아래와 같은 내용을 담고 있습니다.



제1조 (목적)

제2조 (정의)

제3조 (약관 개정)

제4조 (회원 가입)



제1조 (목적)

본 약관은 회사가 제공하는 서비스의 이용과 관련하여 회원과 회사 사이의 권리, 의무, 책임사항 기타 필요한 사항을 규정함을 목적으로 합니다.



제2조 (정의)



①“서비스”란, 본조 제2항의 회원을 위해 회사가 제공하는 서비스를 의미하며, CLHEOE 매장 또는 CLHEOE 온라인 매장에 의해 별도로 정한 기준 및 조건에 따라 제공됩니다. 구체적인 내용은 본 약관 제6조 및 제7조에서 정합니다.



②“회원”이란, 본 약관 제4조에 따른 회원가입 절차를 통하여 정상적으로 회원고유번호를 발급받고, 본조 제1항의 서비스를 이용할 수 있는 자를 말합니다.



③“CLHEOE MEMBER 포인트(이하 ‘포인트’)”란, 회사가 회원에게 별도로 정한 기준 및 조건에 따라 부여하는 것으로써, 회원이 매장이나 모바일 앱에서 상품을 구매할 때 사용할 수 있도록 하는 가상 데이터를 의미합니다. 포인트는 전자금융거래법의 선불전자지급수단으로써 이에 관한 구체적인 내용은 본 약관 제7조에서 규정합니다.



④“플러스회원”이란, 회원이 포인트를 일정 수준 이상 적립하여 다음 단계로 멤버십 단계가 올라간 상태를 의미합니다.



⑤“멤버십 연도”란, 회원 가입일로부터 12개월을 의미합니다.



제3조 (약관 개정)



①본 약관은 관계 법령이 정하는 바에 따라 수시로 개정될 수 있으며, 회사가 약관을 개정하고자 할 경우 개정된 약관을 적용하고자 하는 날(이하 “효력 발생일”)로부터 최소한 7일 이전에 적용 일자, 약관이 개정된다는 사실과 개정된 내용, 개정 사유 등을 홈페이지(이하 “hm.com”)에 게시하고, hm.com의 초기 화면 또는 초기 화면과의 연결 화면을 통해 공지하는 방법으로 회원에게 고지합니다. 이 경우 개정 전 내용과 개정 후 내용을 명확하게 비교하여 회원이 알기 쉽도록 표시합니다. 만약 법령의 개정으로 인하여 긴급하게 약관을 변경하는 경우에는 효력 발생일 직전에 고지하고, 변경된 약관을 hm.com에 1개월 이상 게시합니다.



②만일 회원에게 불리하게 계약 내용을 변경하는 경우에는 최소한 30 일의 유예 기간을 두고 공지합니다.



③본 조의 규정에 의하여 개정된 약관은 원칙적으로 그 효력 발생일로부터 유효합니다. 본 약관의 개정과 관련하여 이의가 있는 회원은 회원 탈퇴를 할 수 있습니다. 단, 이의가 있음에도 불구하고 회원이 회사의 고지 후 효력 발생일까지 아무런 이의를 제기하지 않았을 경우에는 개정된 약관을 승인한 것으로 간주합니다.



제4조 (회원 가입)



①회원 가입은 무료입니다. 회원이 되기 위해 상품을 구매할 필요는 없습니다.



②회원으로 가입하기 위해서는 본인인증이 가능하고, 현재 유효한 최신 상태의 이메일 계정을 가지고 있는 개인이여야 합니다. 만 14세 미만의 자가 회원이 되기 위해서는 법정대리인(부모 등)의 동의가 필요하며, 동의가 없는 경우 법률에 의거하여 가입을 제한하거나 일부 서비스 제공이 불가능할 수 있습니다. 회사는 그러한 동의에 대한 서면 확인을 요청할 권리가 있습니다.



③회원으로 가입하고자 하는 자는 가입 신청서를 제출함으로써 본 약관에 동의한 것으로 간주됩니다.



④회원가입은 개인 자격으로만 가능하고, 기업, 단체, 협회 또는 기타 단체 또는 상업적 또는 대량 구매를 하는 기타 단체는 회원 자격이 없습니다.



⑤회원은 회원 자격을 타인에게 양도하거나 대여, 재판매 또는 담보의 목적 등 이익을 위해 이용할 수 없습니다.



⑥제3항의 회원 가입신청이 있더라도, 다음 각 호의 사유가 있는 경우에는 회사는 회원 가입을 승낙하지 않거나 사후에 이용 계약을 해지할 수 있습니다.



(a) 회원 가입 신청자의 CI로 이미 회원가입이 되어있는 경우

(b) 회원 가입 신청자의 필수 정보 사항 및 각종 동의서 상에 허위 기재, 중요 정보의 누락, 식별 불가 또는 오기가 있는 경우

(c) 회원 가입 신청자가 본 약관 제5조 제3항에 의하여 이전에 회원의 자격을 상실한 적이 있는 경우.

단, 회사가 재가입을 허용하는 경우는 예외로 합니다.



⑦회원은 본 약관 뿐만 아니라, 회사의 일반 이용 약관, 제안, 보상, 구매 및 기타 관련 서비스에 참여할 때 회사가 승인한 다른 규칙, 규정, 정책 및 절차를 준수해야 합니다. 회사는 1인당 하나의 회원 자격으로 제한합니다.
            </div>
        </div>
    </div>
</div>


<footer id="main_footer">
    <div class="inner_wrap">
        <dl class="footer_notice">
            <dt>
            <dt><a href="{% url 'main:terms' %}">공지사항</a></dt>

        </dl>
        <ul class="icons">
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
        </ul>
        <ul class="footer_menu">
            <li><a href="{% url 'main:terms' %}">이용약관</a></li>
            <li><a href="{% url 'main:membership' %}">멤버십 이용약관</a></li>
            <li><a href="{% url 'main:privacy' %}">개인정보처리방침</a></li>
            <li><a href="{% url 'main:executives' %}">임직원서비스</a></li>
            <li><a href="{% url 'main:service' %}">고객센터</a></li>
        </ul>
        <div class="footer_info">
            <p class="text">CLHEOE | 서울특별시 수정구 경재로 100(경재로2가) | CLHEOE@shop.com | 080-759-7586(쇼핑문의) |
                080-4567-7890(제품문의)</p>

            <p class="text">대표이사:조경재 | 사업자등록번호: 457-22-89623 | 통신판매업신고번호: 서울수정-4752호</p>
            <p class="text2">개별 판매자가 입점하여 등록한 상품에 대한 광고, 상품주문, 배송,
                환불의 의무와 책임은 각 입점판매자가 부담하고, 이에대하여 ㈜CLHEOE은 통신판매중개자로서<br>
                통신판매의 당사자가 아니므로 일체 책임을 지지 않습니다.</p>
            <p class="copyright">Copyright &copy; by CLHEOE. All right Reserved.</p>
        </div>
    </div>
</footer>

<div id="modal_add_feed" class="modal_overlay">
    <div class="modal_window">
        <div class="signup_box">
            <div class="login">
                <form class="login_form" method="post" action="{% url 'main:base' %}">
                    {% csrf_token %}
                    <div class="logo">
                        <h1>Login</h1>
                    </div>
                    <div class="form_group">
                        <label for="name">Name</label><br>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Enter name" style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>

                    <div class="form_group">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" class="form_control"
                               placeholder="Enter Password"
                               style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="sign_btn" style="display:flex; justify-content: center;">
                        <button type="submit" class="btn" style="width:80px; height: 30px; font-size:16px;">Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="signup">
                <div class="logo">
                    <div class="text_center">
                        <h1>Signup</h1>
                    </div>
                    <div class="close">
                        <span id="close_modal" class="material-icons-two-tone" style="font-size:30px;">close</span>
                    </div>
                </div>
                <form action="#" name="registration">

                    <div class="form_group">
                        <label for="name">Name</label><br>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Enter name" style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="form_group">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="Enter email"
                               style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="form_group">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" class="form_control"
                               placeholder="Enter Password"
                               style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="sign_btn" style="display:flex; justify-content: center;">
                        <button type="submit" class="btn" style="width:80px; height: 30px; font-size:16px;">Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    const modal = document.getElementById("modal_add_feed");
    const buttonAddFeed = document.getElementById("add_feed");

    buttonAddFeed.addEventListener("click", e => {
        modal.style.display = "flex";
        modal.style.top = window.pageYOffset + 'px';
        document.body.style.overflowY = "hidden"; // 스크롤 없애기
    });

    const buttonCloseModal = document.getElementById("close_modal");
        buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });




</script>

<script>

  // data.js

/* 제품 정보 데이터 */
var product_data =[
    {
    },
    {
    // 속성 값
    },
    {
    // 속성 값
    },
    {
    // 속성 값
    },
    {
    // 속성 값
    },
];


  // main.js
$(function(){


  // 상품리스트 추가
  var item_list = $('.item_list');  //상품 목록 위치
  var list = '';      // 삽입될 html , date
  var list_num = 5;   // 상품목록 갯수
  var kwd = '원';
  var origin_price = '';


  for(var i = 0; i < list_num; i++) {
    list += '<li>';
    list += '<a href="#">';
    list += '<img src="' + product_data[i].img_url + '" >';
    list += '<span class="title">' + product_data[i].title + '</span>';
    list += '<span class="name">' + product_data[i].name + '</span>'


  if(product_data[i].origin_price == "") {
    kwd = "&nbsp;";
    origin_price = "";
  } else { origin_price = product_data[i].origin_price;}


    list += '<del class="origin_price">' + origin_price + kwd + '</del>';
    list += '<ins class="sale_price"><strong>' + product_data[i].sale_price + '원</strong></ins>';
   }
  item_list.append(list);





   // 카테고리 토글 버튼

  $('#category_btn').click(function(){
    $('#category').slideToggle();
  });

  // 다른데 누르면 자동닫힘
  $('header,section').click(function(){
    $('#category').slideUp();
  });

});









</script>
</html>