<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CLHEOE shop</title>
    <!-- 웹폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- FontAwesome(폰트 아이콘) -->
    <script src="https://kit.fontawesome.com/42bc809b80.js" crossorigin="anonymous"></script>
    <!-- 구글 머트리얼 아이콘 -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <!-- bx slider CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bx slider JS -->
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
<header id="main_header">
    <div class="container">
        <h1>
            <a href="{% url 'main:base' %}">
                <img src="{% static 'images/logo22.png' %}" alt="CLHEOE">
            </a>
        </h1>
        <!-- 검색창 -->
        <form id="search_box">
            <input
                    type="text"
                    placeholder="Search"
            >
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!-- 유틸리티 메뉴 -->
        <nav id="util_menu">
            <a href="#" id="add_feed"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
        </nav>
    </div><!-- end container-->
</header>

<!-- 메인 GNB -->
<nav id="main_gnb">
    <div class="container">
        <button id="category_btn">
            <i class="fas fa-bars"></i>
            <span>Category</span>
        </button>

        <ul>
            <li><a href="#">W-korea</a></li>
            <li><a href="#">Perfume</a></li>
            <li><a href="#">2022 S/S</a></li>
            <li><a href="#">Best 10!</a></li>
            <li><a href="#">Coupon</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">event</a></li>
            <li><a href="#">Trend</a></li>
        </ul>
    </div><!-- end container -->
</nav>

<!-- 카테고리 메뉴 목록 -->
<nav id="category">
    <div class="container">
        <dl>
            <dt>Perfume</dt>
            <dd>Best</dd>
            <dd>Campaign</dd>
            <dd>Event</dd>
        </dl>
        <dl>
            <dt>Body</dt>
            <dd>Best</dd>
            <dd>Campaign</dd>
            <dd>Event</dd>
        </dl>
        <dl>
            <dt>Basic</dt>
            <dd>Best</dd>
            <dd>Campaign</dd>
            <dd>Event</dd>
        </dl>
    </div><!-- end container -->
</nav>

<div style="position:relative;">
    <div style="display:flex; text-align:center;justify-content: center;">
        <div style="display:flex; flex-direction: row; width: 1200px;">
            <div style="display:flex; flex-direction: column; width: 250px; height: 1000px; background-color: #fffbfb;">
                <p style="margin:30px 0px;"><a href="{% url 'main:terms' %}"><b>공지사항</b></a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:terms' %}">이용약관</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:membership' %}">멤버십 이용약관</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:privacy' %}">개인정보처리방침</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:executives' %}">임직원서비스</a></p>
                <p style="margin:15px 0px;"><a href="{% url 'main:service' %}">고객센터</a></p>
            </div>
            <div style="display:flex; justify-content: center; width: 750px; background-color:#f2f2f1;">
                CLHEOE 개인정보처리방침<br>
스웨덴 스톡홀롬에 본사를 둔 CLHEOE Calkie & Hodps AB의 한국지사CLHEOE Calkie & Hodps LTD(이하 “CLHEOE”이라 합니다)는 정보통신서비스제공자로서 개인정보처리방침에 의거하여 이용자의 권익 보호에 최선을 다하며  개인정보보호법 등 기타 관련 법규를 준수합니다.

본 개인정보처리방침은 CLHEOE이 온라인 및 매장의 고객, 방문객, 회원, 이용자, 참가자(이하 “이용자”라 합니다)와 관련하여 CLHEOE의 개인정보 수집, 이용, 처리, 저장, 전달, 제공 등(이하 “처리”라 합니다)에 대한 분명하고 간결하며 투명한 커뮤니케이션을 하기 위한 목적으로 만들어졌습니다.

CLHEOE은 본 개인정보처리방침에서 정하는 목적을 위하여 이용자의 개인정보를 처리합니다. 이용자의 개인정보는 본 개인정보처리방침에서 고지한 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보보호법등 기타 관련 법규에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 계획입니다.

CLHEOE은 법령에 따른 개인정보 보유·이용기간 또는 이용자로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.

제1조(개인정보의 수집·이용 목적)

CLHEOE은 다음 목적으로 이용자의 개인정보를 처리합니다.

1.     재화 또는 서비스 제공
CLHEOE은 당사 공식 홈페이지, 모바일 홈페이지 또는 어플리케이션을 통해 구매 주문 및 결제 처리를 포함하여 재화 및 서비스를 제공하고 배송, 클레임, 반품, 환불을 안전하고 효과적으로 수행하기 위하여 이용자의 개인정보를 처리합니다.

2.     회원 가입 및 CLHEOE 계정 관리(비회원인 경우)
CLHEOE은 동의 사항 수집, 계정 이용자의 신원 확인 및 증명, 허가 받지 않은 접근 및 사용 방지, 미성년자의 이용 제한, 공지와 통지 사항 전달, 계정의 오용에 대한 조치, 이용 조건 위반에 대한 법적 조치 시행, 동의 철회 관리 등 이용자 계정(이하 “내 계정”이라 합니다)을 관리하기 위하여 이용자의 개인정보를 처리합니다.

3.     회원 가입 및 CLHEOE 멤버십 관리
CLHEOE은 동의 사항 수집, 멤버십 신청자 신원 확인 및 증명, 멤버십 자격 및 로열티 등급 유지 및 관리, 허가 받지 않은 접근 및 이용 방지, 미성년자의 이용 제한, 공지와 통지 사항 전달, 멤버십 오용에 대한 조치, 이용 조건 위반에 대한 법적 조치 시행, 동의 철회 관리 등 멤버십과 로열티 프로그램을 관리하기 위해 이용자의 개인정보를 처리합니다.

CLHEOE 멤버십의 일환으로 이용자는 본조에 자세히 기재되어 있는 맞춤형 프로모션과 콘테스트 및 이벤트 참가 초대를 받습니다.

4.     프로모션 제공
CLHEOE은 CLHEOE과 CLHEOE 그룹의 기타 브랜드의 패션 뉴스, 바우처, 딜 등 프로모션을 제공하기 위해 개인정보를 수집합니다.

CLHEOE은 이메일, 또는 CLHEOE 웹사이트, 모바일 홈페이지, 모바일 어플리케이션의 멤버십 계정에 로그인 했을 때 직접적으로 표시하는 방법 등 다양한 수단을 통해 프로모션을 제공합니다. 소셜미디어 서비스의 이용자라면 뉴스 피드를 통해 프로모션을 받을 수 있습니다. 프로모션을 더욱 적합하게 하기 위해 CLHEOE은 구매 물건 계산, 멤버십, 쿠키, 제3자를 통해 받은 개인정보를 조합하여 사용함으로써 더 맞춤화시킬 수 있습니다.

5.     콘테스트 및 이벤트 참여
CLHEOE은 콘테스트와 마케팅 이벤트를 관리하고 운영하기 위해 참가자와 관련한 개인정보를 처리합니다. CLHEOE은 콘테스트나 이벤트에 참가할 권리를 제공하고 신원 및 참가 능력을 확인하기 위해 이러한 개인정보를 처리합니다. 또한, CLHEOE은 콘테스트와 관련하여 입장 여부를 판단하고 우승자에게 연락하고 상품 배송을 위한 후속 조치를 위해 개인정보를 처리합니다.

6.     고객 서비스 제공
CLHEOE은 이메일, 전화, 채팅, 소셜 미디어 서비스를 통해 이용자의 문의, 항의를 관리하고 주문, 배송, 보증, 반품과 같은 다양한 사항 및 멤버십, 계정과 관련한 사항을 지원하기 위해 개인정보를 처리합니다.

7.     개발 및 개선
CLHEOE은 제품, 서비스, 시스템, 공급망, 매장의 평가, 개발, 개선을 위해 개인정보를 처리합니다. 이러한 목적으로 CLHEOE은 익명의 개인정보 또는 익명 데이터만을 사용합니다. 어떠한 경우에도 이용자를 개별적으로 분석하지 않습니다.

8.     보안 및 안전
CLHEOE은 이용자, 방문객, 자산, 사업을 폭력, 사기, 도난, 오용 및 기타 악의적 행위로부터 보호하기 위해 개인정보를 처리합니다. 당사가 개인정보를 처리하는 방법은 적용 및 이용 영역에 따라 다릅니다. 온라인 사기, 손실을 방지하고 당사의 웹 페이지 및 모바일 어플리케이션에서 불량 행위를 하는 쿠키를 감시하기 위해 당사는 감지 도구를 사용합니다. CLHEOE은 도난, 사기를 감지하고 예방하며 방문객과 직원의 보안 및 안전을 향상시키기 위해 오프라인 매장에 감시 카메라를 설치하였습니다.

9.     CLHEOExMe
CLHEOE은 CLHEOE의 모든 혜택을 누릴 수 있도록 개인정보를 처리합니다. 해당 부분에서 발생하는 개인 정보의 처리에는 이용자가 생성한 콘텐츠를 홈페이지, 당사 소셜미디어 페이지와 같은 모든 가능한 플랫폼에서 공유하는 것을 포함합니다.

10.   인터넷 서비스 이용과정에서 자동으로 생성되어 수집되는 정보(이하 “쿠키 사용”)
CLHEOE은 인터넷 서비스 사용과정에서 자동으로 생성되는 정보를 “쿠키”를 통해 수집하고 사용합니다. 쿠키는 이용자가 당사의 웹사이트에 접근할 때 컴퓨터나 스마트폰 같은 이용자의 기기에 다운로드 되는 작은 텍스트 파일로, 다음 내용이 포함됩니다.

• 자사 쿠키 및 제3자 쿠키
• 제3자의 기술을 포함한 추적 픽셀 및 플러그인
• 기타 추적 기술
            </div>
        </div>
    </div>
</div>


<footer id="main_footer">
    <div class="inner_wrap">
        <dl class="footer_notice">
            <dt>
            <dt><a href="{% url 'main:terms' %}">공지사항</a></dt>

        </dl>
        <ul class="icons">
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
        </ul>
        <ul class="footer_menu">
            <li><a href="{% url 'main:terms' %}">이용약관</a></li>
            <li><a href="{% url 'main:membership' %}">멤버십 이용약관</a></li>
            <li><a href="{% url 'main:privacy' %}">개인정보처리방침</a></li>
            <li><a href="{% url 'main:executives' %}">임직원서비스</a></li>
            <li><a href="{% url 'main:service' %}">고객센터</a></li>
        </ul>
        <div class="footer_info">
            <p class="text">CLHEOE | 서울특별시 수정구 경재로 100(경재로2가) | CLHEOE@shop.com | 080-759-7586(쇼핑문의) |
                080-4567-7890(제품문의)</p>

            <p class="text">대표이사:조경재 | 사업자등록번호: 457-22-89623 | 통신판매업신고번호: 서울수정-4752호</p>
            <p class="text2">개별 판매자가 입점하여 등록한 상품에 대한 광고, 상품주문, 배송,
                환불의 의무와 책임은 각 입점판매자가 부담하고, 이에대하여 ㈜CLHEOE은 통신판매중개자로서<br>
                통신판매의 당사자가 아니므로 일체 책임을 지지 않습니다.</p>
            <p class="copyright">Copyright &copy; by CLHEOE. All right Reserved.</p>
        </div>
    </div>
</footer>

<div id="modal_add_feed" class="modal_overlay">
    <div class="modal_window">
        <div class="signup_box">
            <div class="login">
                <form class="login_form" method="post" action="{% url 'main:base' %}">
                    {% csrf_token %}
                    <div class="logo">
                        <h1>Login</h1>
                    </div>
                    <div class="form_group">
                        <label for="name">Name</label><br>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Enter name" style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>

                    <div class="form_group">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" class="form_control"
                               placeholder="Enter Password"
                               style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="sign_btn" style="display:flex; justify-content: center;">
                        <button type="submit" class="btn" style="width:80px; height: 30px; font-size:16px;">Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="signup">
                <div class="logo">
                    <div class="text_center">
                        <h1>Signup</h1>
                    </div>
                    <div class="close">
                        <span id="close_modal" class="material-icons-two-tone" style="font-size:30px;">close</span>
                    </div>
                </div>
                <form action="#" name="registration">

                    <div class="form_group">
                        <label for="name">Name</label><br>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Enter name" style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="form_group">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="Enter email"
                               style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="form_group">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" class="form_control"
                               placeholder="Enter Password"
                               style="width:100%;height:30px;font-size:20px;margin-top: 10px;">
                    </div>
                    <div class="sign_btn" style="display:flex; justify-content: center;">
                        <button type="submit" class="btn" style="width:80px; height: 30px; font-size:16px;">Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    const modal = document.getElementById("modal_add_feed");
    const buttonAddFeed = document.getElementById("add_feed");

    buttonAddFeed.addEventListener("click", e => {
        modal.style.display = "flex";
        modal.style.top = window.pageYOffset + 'px';
        document.body.style.overflowY = "hidden"; // 스크롤 없애기
    });

    const buttonCloseModal = document.getElementById("close_modal");
        buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });




</script>

<script>

  // data.js

/* 제품 정보 데이터 */
var product_data =[
    {
    },
    {
    // 속성 값
    },
    {
    // 속성 값
    },
    {
    // 속성 값
    },
    {
    // 속성 값
    },
];


  // main.js
$(function(){


  // 상품리스트 추가
  var item_list = $('.item_list');  //상품 목록 위치
  var list = '';      // 삽입될 html , date
  var list_num = 5;   // 상품목록 갯수
  var kwd = '원';
  var origin_price = '';


  for(var i = 0; i < list_num; i++) {
    list += '<li>';
    list += '<a href="#">';
    list += '<img src="' + product_data[i].img_url + '" >';
    list += '<span class="title">' + product_data[i].title + '</span>';
    list += '<span class="name">' + product_data[i].name + '</span>'


  if(product_data[i].origin_price == "") {
    kwd = "&nbsp;";
    origin_price = "";
  } else { origin_price = product_data[i].origin_price;}


    list += '<del class="origin_price">' + origin_price + kwd + '</del>';
    list += '<ins class="sale_price"><strong>' + product_data[i].sale_price + '원</strong></ins>';
   }
  item_list.append(list);





   // 카테고리 토글 버튼

  $('#category_btn').click(function(){
    $('#category').slideToggle();
  });

  // 다른데 누르면 자동닫힘
  $('header,section').click(function(){
    $('#category').slideUp();
  });

});









</script>
</html>